/* !----------------------First-Content------------------------- */
.first-content {
    display: flex;
    padding: 50px 80px;
    background-color: #f9f9f9;
    justify-content: space-between;
    box-shadow: 0px 2px 7px #e0e0e0;
}
.first-left-content {
    width: 40%;
    position: relative;
}
.first-title-content h2 {
    font-size: 2.2rem;
    font-family: "Freehand", cursive;
    margin-bottom: 1.5rem;
}
.first-title-content h2 span {
    font-size: 2.1rem;
    font-family: "Freehand", cursive;
}
.first-title-content p {
    line-height: 1.5rem;
}
.first-title-content .btn-hover {
    margin-top: 3rem;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 3rem;
    outline: none;
    border: none;
    align-items: center;
    background-color: #fa9a41;
    padding: 7px;
    transition: ease-in-out 0.2s;
    border-radius: 50px;
}
.first-title-content .btn-hover:hover {
    background-color: white;
    box-shadow: 0px 4px 7px rgb(232, 232, 232);
}
.first-title-content .btn-hover:hover p {
    color: black;
    font-weight: bold;
}
.first-title-content .btn-hover div {
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.first-title-content .btn-hover div img {
    width: 25px;
    height: 25px;
}
.first-title-content .btn-hover p {
    color: white;
    font-family: "Freehand", cursive;
    margin-right: 0.8rem;
}
.first-right-content {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.first-right-content img {
    width: 60%;
    border-radius: 5px;
}
.first-right-content > .small-image {
    width: 30%;
    /* height: 70%; */
}
