/* !-----------------------------------Five-Content--------------------- */
.five-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.genre-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.genre-title h2 {
    width: 80%;
    /* font-weight: 100; */
    margin-left: 1.2rem;
    font-size: 1.5rem;
    position: relative;
}
.genre-title h2::after {
    content: "";
    display: flex;
    width: 60%;
    left: 220px;
    height: 2px;
    background: #d4d8dd;
    right: 168px;
    border-radius: 5px;
    top: 50%;
    position: absolute;
}
.genre {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}
.genre ul {
    width: 100%;
    display: grid;
    overflow-y: scroll;
    padding: 10px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.genre ul li {
    width: 340px;
}
.genre ul li a {
    display: flex;
    padding: 10px;
    width: 90%;
    height: 100%;
}
.genre-item-img {
    width: 50%;
    margin: 10px;
    margin-bottom: 0;

    height: 100%;
}
.genre-item-img img {
    width: 100%;
    height: 216px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(160 160 160 / 35%);
}
.item-detail {
    padding: 20px 0px;
    display: block;
    width: 50%;
}
.item-detail > * {
    margin-bottom: 10px;
}
.item-detail > *:last-child {
    margin-bottom: 0;
}
.item-detail h4 {
    margin-top: 0 !important;
    letter-spacing: 1.5px;
    color: rgb(33, 33, 33);
    transition: color 0.2s;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-detail h4:hover {
    color: #fa9a41;
}
.item-detail p {
    color: rgb(36, 36, 36);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-detail p span {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
}
.item-detail.stars {
    display: flex;
    width: 70%;
    gap: 2px;
}
.item-detail .stars img {
    width: 0.7rem;
}
