footer {
    display: grid;
    justify-content: center;
    margin: 30px 20px;
    font-family: "Freehand", cursive;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
}

.left-footer,
.center-footer,
.right-footer {
    width: 100%;
    border-right: 1px solid rgb(179, 179, 179);
    margin: 0 auto;
    padding: 0 20px;
}

.left-footer h3 {
    margin-bottom: 15px;
}

.left-footer ul li {
    margin: 10px 0;

    font-family: "Freehand", cursive;
    font-size: 12px;
}
.center-footer p {
    font-family: "Freehand", cursive;
}
.center-footer .phone {
    font-size: 1.3rem;
    color: #fa9a41;
    margin: 10px 0;
    font-family: "Noto Sans Khmer", sans-serif;
}
.center-footer img {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.right-footer {
    border: none;
}
.right-footer h3 {
    margin-bottom: 15px;
}
.right-footer p {
    font-family: "Freehand", cursive;
}
.right-footer .email {
    margin-top: 10px;
    font-family: "Noto Sans Khmer", sans-serif;
}
.right-footer .email i {
    margin-right: 10px;
}
.right-footer .copyright {
    margin-top: 20px;
    font-family: "Noto Sans Khmer", sans-serif;
}
.right-footer .copyright span {
    font-family: "Freehand", cursive;
    font-size: 12px;
}
.right-footer .copyright span a {
    font-family: "Freehand", cursive;
    font-size: 12px;
    color: black;
}
.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.media i {
    font-size: 25px;
    color: #2b2b2b;
}
