header {
    width: 100%;
    max-height: 120px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 3px 5px 0px rgb(241, 241, 241);
}
.main-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: white;
}
.main-header .logo {
    height: 100%;
    margin-left: 5%;
    background-color: white;
}
.main-header .logo img {
    height: 100%;
    object-fit: contain;
    background-color: white;
}
.search-bar {
    font-family: "Noto Sans Khmer", sans-serif;
    width: 35%;
    height: 50px;
    margin-left: 10%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
.search-bar form {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    border: 1px solid rgb(188, 188, 188);
}
.search-bar form i {
    width: auto;
    align-items: center;
    text-align: center;
    margin: 15px 5px;
    padding: 13px;
    color: white;
    background-color: #f9a340;
    border-radius: 50%;
}
#search {
    font-family: "Noto Sans Khmer", sans-serif;
    margin-left: 20px;
    padding: 15px 10px;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    background-color: white;
}
.menu-bar {
    display: flex;
    padding-right: 40px;
    justify-content: space-between;
    width: 35%;
    background-color: white;
}
.menu {
    width: 100%;
    background-color: white;
}
.menu-all {
    background: linear-gradient(90deg, #000 50%, #f9a340 50%);
    -webkit-background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}
.menu-all a:hover {
    background-position: -100% 0;
    color: #fa9a41;
}
.menu ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}
.menu > ol {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.menu > ol > .menu-item {
    flex: 1;
    background-color: white;
    padding: 0.75rem 0;
}
.menu > ol > .menu-item:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    bottom: 5px;
    left: calc(50% - 2px);
    will-change: transform;
    transform: scale(0);
    transition: transform 0.2s ease;
}
.menu > ol > .menu-item:hover:after {
    transform: scale(1);
}
.menu-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
    background-color: white;
}
.menu-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #000000;
    background-color: white;
}
.sub-menu .menu-item a:hover {
    background-color: #ececec;
}
.menu-item a i {
    background-color: white;
}
.sub-menu {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.sub-menu .menu-item {
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(4) {
    animation-duration: 0.5s;
    animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(5) {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(6) {
    animation-duration: 0.7s;
    animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(7) {
    animation-duration: 0.8s;
    animation-delay: 0.2s;
}
.sub-menu .menu-item:hover {
    background: #ececec;
}
.sub-menu .menu-item a {
    padding: 0 0.75rem;
}
@media screen and (max-width: 600px) {
    .sub-menu .menu-item {
        background: #ffffff;
    }
}
@media screen and (max-width: 600px) {
    .menu {
        position: relative;
    }
    .menu:after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        right: 1rem;
        width: 30px;
        height: 4px;
        background: #fff;
        box-shadow: 0 10px #fff, 0 -10px #fff;
    }
    .menu > ol {
        display: none;
        background: #fa9a41;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        animation: fade 0.2s ease-out;
    }
    .menu > ol > .menu-item {
        flex: 0;
        opacity: 0;
        animation: enter 0.3s ease-out forwards;
    }
    .menu > ol > .menu-item:nth-child(1) {
        animation-delay: 0s;
    }
    .menu > ol > .menu-item:nth-child(2) {
        animation-delay: 0.1s;
    }
    .menu > ol > .menu-item:nth-child(3) {
        animation-delay: 0.2s;
    }
    .menu > ol > .menu-item:nth-child(4) {
        animation-delay: 0.3s;
    }
    .menu > ol > .menu-item:nth-child(5) {
        animation-delay: 0.4s;
    }
    .menu > ol > .menu-item:nth-child(6) {
        animation-delay: 0.5s;
    }
    .menu > ol > .menu-item:nth-child(7) {
        animation-delay: 0.6s;
    }
    .menu > ol > .menu-item:nth-child(8) {
        animation-delay: 0.7s;
    }
    .menu > ol > .menu-item + .menu-item {
        margin-top: 0.75rem;
    }
    .menu > ol > .menu-item:after {
        left: auto;
        right: 1rem;
        bottom: calc(50% - 2px);
    }
    .menu > ol > .menu-item:hover {
        z-index: 1;
    }
    .menu:hover > ol {
        display: flex;
    }
    .menu:hover:after {
        box-shadow: none;
    }
}
.sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}
.menu-item:hover > .sub-menu {
    display: block;
}
@media screen and (max-width: 600px) {
    .sub-menu {
        width: 100vw;
        left: -2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
