.newBook{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.newBook h2 {
    width: 100%;
    text-align: start;
    border-bottom: 1px solid rgba(136, 136, 136, 0.525);
    padding-left: 10px;
}
.bookList ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 60px;
    margin-top: 36px;
}
.bookList ul li {
    max-width: 200px;
    border-radius: 5px;
    position: relative;
    box-shadow: 1px 1px 11px 0px #939393;
    overflow: hidden;
}
.bookList ul li a {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}
.bookList ul li a img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}
.bookList ul a:hover img {
    transform: scale(1.1);
}
.bookTitle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    text-align: center;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3927696078431373) 63%, rgba(0,0,0,0) 100%);
    z-index: 99;
    transition: bottom ease-in-out 0.2s ;
    opacity: 0;
}

.bookList ul a {
    position: relative;
    display: block;
}

.bookList ul a:hover .bookTitle {
    bottom: 0;
    opacity: 1;
}
.bookTitle p {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.loadMore{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
.loadMore button {
    border: 0.5px solid rgb(132, 132, 132);
    background-color: #fa9a41;
    border-radius: 3px;
    padding: 7px 25px;
    cursor: pointer;

}
