/* !----------------------------------Second-Content------------------------------------- */
.second-content,
.third-content {
    width: 94%;
    margin: 60px;
}
.book-trending,
.new-arrival {
    margin-bottom: 50px;
}
.book-trending h2,
.new-arrival h2 {
    /* font-weight: 100; */
    margin-left: 1.2rem;
    font-size: 1.5rem;
    position: relative;
}
.book-trending h2::after {
    content: "";
    display: flex;
    width: 60%;
    left: 220px;
    height: 2px;
    background: #d4d8dd;
    right: 168px;
    border-radius: 5px;
    top: 50%;
    position: absolute;
}
.book-items {
    width: 100%;
    height: 520px;
}
swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
swiper-slide li {
    width: 90%;
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.item-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide li a .item-img > img {
    display: block;
    width: 60%;
    height: 280px;
    object-fit: contain;
}
.list-item {
    background-color:#f9f9f9;
    border-radius: 20px;
    width: 98%;
    display: grid;
    gap: 10px;
    text-align: start;
    padding: 30px 0;
    margin: 0 auto;
    box-shadow:
        0px 0px 0px 0px rgba(0, 0, 0, 0.04),
        1px 1px 2px 0px rgba(0, 0, 0, 0.04),
        4px 3px 4px 0px rgba(0, 0, 0, 0.03),
        8px 6px 6px 0px rgba(0, 0, 0, 0.02),
        14px 11px 7px 0px rgba(0, 0, 0, 0.01),
        22px 17px 8px 0px rgba(0, 0, 0, 0);
}
.list-item h4 {
    color: rgb(33, 33, 33);
    transition: color 0.2s;
    margin-top: 20px;
    text-align: start;
    padding-left: 20px;
}
.list-item h4:hover {
    color: #fa9a41;
}
.list-item p {
    padding-left: 20px;
    font-size: 0.9rem;
    text-align: start;
    color: rgb(0, 0, 0);
}
.list-item .stars {
    padding-left: 20px;
    display: flex;
    width: 70%;
    gap: 2px;
}
.list-item .stars img {
    width: 0.7rem;
}
