/* MAIN */
#content .admin {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#content .admin .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content .admin .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
#content .admin .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
#content .admin .head-title .left .breadcrumb li {
    color: var(--dark);
}
#content .admin .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}
#content .admin .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
}
#content .admin .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content .admin .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
#content .admin .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content .admin .box-info li .bx {
    width: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content .admin .box-info li:nth-child(1) .bx {
    /* background: var(--light-blue); */
    color: var(--blue);
}
#content .admin .box-info li:nth-child(2) .bx {
    /* background: var(--light-yellow); */
    color: var(--yellow);
}
#content .admin .box-info li:nth-child(3) .bx {
    /* background: var(--light-orange); */
    color: var(--orange);
}
#content .admin .box-info li:nth-child(4) .bx {
    /* background: var(--light-blue); */
    color: var(--blue);
}
#content .admin .box-info li:nth-child(5) .bx {
    /* background: var(--light-orange); */
    color: var(--blue);
}
#content .admin .box-info li:nth-child(6) .bx {
    /* background: var(--light-orange); */
    color: var(--yellow);
}
#content .admin .box-info li:nth-child(7) .bx {
    /* background: var(--light-orange); */
    color: var(--orange);
}
#content .admin .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}
#content .admin .box-info li .text p {
    color: var(--dark);
}
#content .admin .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
#content .admin .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}
#content .admin .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
#content .admin .table-data .head button {
    background-color: #f9a340;
    border: none;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
#content .admin .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
#content .admin .table-data .head .bx {
    cursor: pointer;
}

#content .admin .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}
#content .admin .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
#content .admin .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}
#content .admin .table-data .order table td {
    padding: 16px 0;
}
#content .admin .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
#content .admin .table-data .order table td img {
    width: 50px;
    object-fit: cover;
}
#content .admin .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}
#content .admin .table-data .order table tr td .status.completed {
    background: var(--blue);
}
#content .admin .table-data .order table tr td .status.process {
    background: var(--yellow);
}
#content .admin .table-data .order table tr td .status.pending {
    background: var(--orange);
}

#content .admin .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
#content .admin .table-data .todo .todo-list {
    width: 100%;
}
#content .admin .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: start;
}
#content .admin .table-data .todo .todo-list li .bx {
    cursor: pointer;
}
#content .admin .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}
#content .admin .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}
#content .admin .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}
