@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

    font-family: "Battambang", system-ui;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
form{
    text-align: center;
    width: 400px;
    background-color: azure;
    border: 0.5px solid rgb(116, 116, 116);
    padding: 40px;
    margin: 0 auto;
    border-radius: 15px;
}
form h3 {
    width: 100%;
    text-align: center;
}
form div {
    width: 100%;
    margin-bottom: 20px;
}
div label {
    text-align: start;
    display: block;
    width: 100%;
    margin-left: 10px;
}
div input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    display: block;
    border: none;
    outline: none;
}
form button {
    background-color: #f9a340;
    border: none;
    padding: 7px 15px;
    border-radius: 7px;
    color: aliceblue;
}
